@font-face {
    font-family: AuthenticHiltonFont;
    src: url(font/Authentic_Hilton.ttf);
}
.topic_content{
	font-family:AuthenticHiltonFont;
	font-size:20px;
	text-align: center;
}
.main_content{
	/*font-family:AuthenticHiltonFont;*/
	font-size:20px;
}
.tableLayout{
	/*font-family:AuthenticHiltonFont;*/
	font-size:20px;
	border-spacing: 10px 10px;
	margin-left:auto;
    margin-right:auto;
}
body{
	/*
	width:960px;
	margin:45px auto;
	*/
	font-size:14px;
	margin:45px auto;
	background-color:#ffffff;
	width: 100%;

}
form{
	/*width:330px;*/
	/*border-top:1px dotted #D9D9D9;*/
	border:1px dotted #D9D9D9;
	/*margin:10px 180px;*/
	text-align: center;
}
button{
	width: 200px;
	height: 30px;
	color: #4C4C4C;
}
input{
	width:100px;
	height:20px;
	padding:5px;
	margin:5px 0 10px;
	border-radius:5px;
	border:4px solid #acbfa5;
}
input[type = submit]{
	width:100px;
	height: 30px;
	font-size:10px;
	background-color:#35c8ef;
	border-radius:5px;
	border:2px solid blue;
	color:#fff;

}
textarea{
	width:250px;
	height:40px;
	padding:5px;
	margin:20px 0 10px;
	border-radius:5px;
	border:4px solid #acbfa5
}